@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #99de0e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 9999px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

@supports (-ms-overflow-style: auto) {
  body {
    scrollbar-face-color: var(--primary);
    scrollbar-track-color: var(--background);
  }
}
