@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f9;
  --foreground: #638c6d;
  --bg-black: #0a0a0a;
  --primary: #c84c05;
  --secondary: #df6d2d;
}

body {
  color: var(--bg-black);
  background: var(--background);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 9999px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

@supports (-ms-overflow-style: auto) {
  body {
    scrollbar-face-color: var(--primary);
    scrollbar-track-color: var(--background);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}
